<ion-header>
  <ion-toolbar>
    <ion-title>{{location.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides pager="true" [options]="slideOptions">
        <ion-slide *ngFor="let photo of location.photos">
            <img src="{{photo.url}}" alt="" />
        </ion-slide>
        <ion-slide *ngIf="location.photos.length === 0">
            <img src="/assets/placeholder-location.png" alt="" />
        </ion-slide>
      </ion-slides>
      <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
              <div>
                <ion-text color="primary">
                    <h4 >About: </h4>
                </ion-text>
                <ion-text>
                    <p>{{location.shortDescription}}</p>
                </ion-text>
                <ion-text color="primary">
                    <h4>More info: </h4>
                </ion-text>
                <ion-text>
                  <p>{{location.longDescription}}</p>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
